<h1><%= @blogger.name %></h1>
<p><%= @blogger.age %></p>
<p><%= @blogger.bio %></p>
<p>Total Likes: <%= @blogger.total_likes %></p>
<p>Most Popular Post: <%= link_to @blogger.most_likes.title, post_path(@blogger.most_likes) %></p>