<%= @destination.name %><br>
<%= @destination.country %><br>
<h1>Top 5</h1>
<% @destination.five_most_recent.each do |post| %>
<%= post %><br>
<% end%>
<h1>Most Liked Post</h1>
<%= @destination.most_liked.title %>
<h1>Average Blogger Age</h1>
<%= @destination.avg_age %>